/* app/globals.css */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* 横スクロールを物理的に禁止 */
  position: relative;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* モバイルのタップ青枠を消す */
}

/* MUIのテーブルなどがはみ出さないようにガード */
.MuiTableContainer-root {
  max-width: 100%;
  overflow-x: auto !important;
}